.page{
    background-color: #547670;
}

.div1{
    background-color: #2C4842;
    width: 1100px;
    height: 840px;
    border: 10px groove;
    border-color: #363B33;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    left:0px;
    top:0px;
}

#canvas{
    width:1000px; 
    height:800px;
    background: white;
    border: 5px solid; 
    border-style: solid;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 18px;
}

#canvas2{
    width:1000px; 
    height:800px;
    background: rgb(255, 255, 255, 0);
    border: 5px solid; 
    border-style: solid;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    z-index: 0;
    left: 5px;
    top: 18px;
}

.div2{
    background-color: #1F2E2B;
    width: 400px;
    height: 800px;
    border: 10px groove;
    border-color: #363B33;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    left: 1020px;
    top: 0px;
    cursor: default;
}

.toolboxTop{
    width: 380px;
    height: 450px;
    border: 5px inset;
    background-color: #BAC0AB;
    border-color: #363B33;
    border-radius: 50px 50px 50px 50px;
    position: relative;
    top: 5px;
    left: 6px;
}

.screenFirst{
    width: 380px;
    height: 40px;
}

.signal{
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
    float: left;
}

.wifi{
    width: 35px;
    height: 35px;
    position: relative;
    left: 25px;
    float: left;
}

.battery{
    width: 40px;
    height: 40px;
    position: relative;
    left: 250px;
    float: left;
}

.pType{
    font-size: 20px;
    font-weight: bold;
    font-family: 微軟正黑體;
    line-height: 0px;
}

.leftbtn{
    width: 60px;
    height: 40px;
    background-color: transparent;
    border-color: #334035;
    border: 2px outset;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.rightbtn{
    width: 60px;
    height: 40px;
    background: transparent;
    border-color: #334035;
    border: 2px outset;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.screenSecond{
    width: 380px;
    height: 40px;
}

.screenSecondDiv1{
    height: 40px;
    position: relative;
    left: 20px;
    float: left;
}

#brushLeftBtn{
    position: relative;
    left: 40px;
    float: left;
}

.screenSecondDiv2{
    width: 25px;
    height: 40px;
    position: relative;
    left: 84px;
    float: left;
}

#brushRightBtn{
    position: relative;
    left: 130px;
    float: left;
}

.screenThird{
    width: 380px;
    height: 43px;
}

.screenThirdDiv1{
    height: 40px;
    position: relative;
    left: 26px;
    float: left;
    top: 3px;
}

#fontSizeLeftBtn{
    position: relative;
    left: 52px;
    float: left;
    top: 3px;
}

.screenThirdDiv2{
    width: 25px;
    height: 40px;
    position: relative;
    left: 96px;
    float: left;
    top: 3px;
}

#fontSizeRightBtn{
    position: relative;
    left: 142px;
    float: left;
    top: 3px;
}

.screenFirth{
    width: 380px;
    height: 70px;
}

.screenFirthDiv1{
    height: 40px;
    position: relative;
    left: 26px;
    float: left;
    top: 3px;
}

#fontTypeLeftBtn{
    position: relative;
    left: 43px;
    float: left;
    top: 3px;
}

.screenFirthDiv2{
    width: 100px;
    height: 40px;
    position: relative;
    left: 50px;
    float: left;
    top: 3px;
}

#fontTypeRightBtn{
    position: relative;
    left: 58px;
    float: left;
    top: 3px;
}

.screenFifth{
    width: 380px;
    height: 60px;
}

.screenFifthDiv1{
    width: 380px;
    height: 40px;
    left: 115px;
    position: relative;
    float: left;
    top: 7px;
}

.screenSixth{
    width: 380px;
    height: 120px;
}

#palette{
    width: 162px;
    height: 50px;
    position: relative;
    float: left;
    left: 100px;
    border: 10px inset;
    border-radius: 8px;
    border-color: #829182;
}

.screenSeventh{
    width: 380px;
    height: 100px;
}

.phone{
    position: relative;
    left: 60px;
    float: left;
}

.mail{
    position: relative;
    left: 93px;
    float: left;
}

.browser{
    position: relative;
    left: 132px;
    float: left;
}

.toolboxDown{
    width: 100%;
    table-layout: fixed;
    position: relative;
    top: 10px;
}

.row{
    width: 100%;
    text-align: center;
}

.btn{
    width: 75px;
    height: 75px;
    border: 5px outset;
    background: #829182;
    border-color: #9EB59E;
    border-radius: 50%;
    left: 5px;
}

.icon{
    width: 50px;
    height: 50px;
}

.dirPic{
    width: 30px;
    height: 30px;
}

#file{
    display: none;
}